/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2016, 5:02:33 PM
    Author     : Josh
*/

/* Prevents text/image selection on right click and long press */
.eclipse-unselectable
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
}

.mdl-layout__obfuscator.is-visible
{
    pointer-events: auto;
    opacity: 0;
}

.no-eclipse-icon 
{
    color: transparent !important;
    background: url("images/no-eclipse.png");
    background-size: contain;
}

.annular-eclipse-icon 
{
    color: transparent !important;
    background:url("images/annular.png");
    background-size: contain;
}

.hybrid-eclipse-icon 
{
    color: transparent !important;
    background:url("images/hybrid.png");
    background-size: contain;
}

.total-eclipse-icon 
{
    color: transparent !important;
    background:url("images/total.png");
    background-size: contain;
}

.partial-eclipse-icon 
{
    color: transparent !important;
    background:url("images/partial.png");
    background-size: contain;
}

.eclipse-table
{
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
    padding: 12px 10px;
}

.eclipse-font-default
{
    color: rgba(0,0,0,.87);
    font-size: 13px;
    font-family: "Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.eclipse-time-travel-font
{
    color: yellow;
}

.eclipse-content-swipe-in-right
{
    animation-name: content-animation-swipe-in-right;
    animation-duration: .3s;
    position: relative;
}

@keyframes content-animation-swipe-in-right
{
    0%   {right: 100vw;}
    100% {right: 0vw;}
}

.eclipse-content-swipe-out-right
{
    animation-name: content-animation-swipe-out-right;
    animation-duration: .15s;
    position: relative;
}

@keyframes content-animation-swipe-out-right
{
    0%   {left: 50vw;}
    100% {left: 100vw;}
}

.eclipse-content-swipe-out-right-full
{
    animation-name: content-animation-swipe-out-right-full;
    animation-duration: .3s;
    position: relative;
}

@keyframes content-animation-swipe-out-right-full
{
    0%   {left: 0vw;}
    100% {left: 100vw;}
}

.eclipse-content-swipe-out-left
{
    animation-name: content-animation-swipe-out-left;
    animation-duration: .15s;
    position: relative;
}

@keyframes content-animation-swipe-out-left
{
    0%   {right: 50vw;}
    100% {right: 100vw;}
}

.eclipse-content-swipe-out-left-full
{
    animation-name: content-animation-swipe-out-left-full;
    animation-duration: .3s;
    position: relative;
}

@keyframes content-animation-swipe-out-left-full
{
    0%   {right: 0vw;}
    100% {right: 100vw;}
}

.eclipse-content-swipe-in-left
{
   
    animation-name: content-animation-swipe-in-left;
    animation-duration: .3s;
    position: relative;
}

@keyframes content-animation-swipe-in-left
{
    0%   {left: 100vw;}
    100% {left: 0vw;}
}

.eclipse-content-fade-in
{
    animation-name: content-animation;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes content-animation 
{
    0%   {opacity: 0;}
    100% {opactiy: 1;}
}

.eclipse-header
{
    top: -160px;
    position: relative;
    
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .2s;
}

.eclipse-header-transition
{
    top: 0px !important;
}

.eclipse-footer
{
    padding-top: 12px; 
    padding-bottom: 12px;
    position: absolute !important;
    bottom: -96px;
    left: 0 !important;
    right: 0 !important;
    z-index: 1 !important;
    
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .2s;
}

.eclipse-footer-transition
{
    bottom: 0 !important;
}

@media only screen and (max-width: 320px) 
{
   .mdl-mini-footer__link-list li 
   {
        margin-bottom: 0;
        margin-right: 12px;
    }
}

.eclipse-li-location
{
    margin-top: auto;
    margin-bottom: auto;
}

.eclipse-location-icon-size
{
    font-size: x-large;
    transform: translateY(-.4em) translateX(-.4em);
    margin-right: -.6em;
}

.eclipse-time-button
{
    line-height: inherit;
    height: inherit;
    color: inherit;    
    margin-left: -1em;
    padding-left: 2px;
    padding-right: 2px;
}

.eclipse-time-button:hover
{
    background-color: transparent;
}

@keyframes footer-animation 
{
    0%   {bottom: -96px;}
    100% {bottom: 0px;}
}

.eclipse-footer-list
{
    margin-left: auto;
    margin-right: auto;
}

.eclipse-td
{
    max-width: 1em;    
}

/* Update as nessary so all content will be seen with fixed footer. */
.eclipse-bottom-pad
{
    padding-top: 12px; 
    padding-bottom: 12px;
    color: transparent;
    background-color: inherit;
}

.eclipse-choice-date
{
    display: inline !important;
}

.eclipse-choice-buttons
{
    margin-left: 2.0em;
}

.eclipse-choice-list
{
    width: 99%;
    overflow: hidden;
    overflow-y: scroll;
    flex-grow: 3;    
    margin-top: 0
}

.eclipse-stats-icon
{
    position: absolute;
    vertical-align: middle;
    font-size: 2.2em;
    top: 45%;
    left: -0.1em;
    display: none;
}

.eclipse-selected
{
    background-color: threedlightshadow;
}

.bottom-drawer-items
{
    flex-grow: 1;
}

.drawer-cointainer
{
    max-height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.eclipse-border-bottom
{
    border-bottom: 1px solid #ddd;
}

.eclipse-drawer
{
    overflow: hidden;
    width: 300px;
    max-width: 90%;
    transform: translateX(-310px);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4);
}

.eclipse-map
{
    height: 100vh;
    width: 100vw;
}

.eclipse-header-row
{
    display: block;
    padding-top: 12px;
}

.eclipse-map-button-pad
{
    padding: 0.5em;
}

.eclipse-map-button-placement
{
    z-index: 9999;
    position: absolute;
    bottom: 12em;
    right: -15vw;
    
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
    transform: translateX(50%) translateY(50%);
}

.eclipse-map-button-placement-transition
{
    right: 3em;
}

.eclipse-zoom-button-placement
{
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 8.2em;
    left: -15vw;
    
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.eclipse-zoom-button-placement-transition
{
    visibility: visible;
    z-index: 9999;
    top: .5em;
    left: .5em;;
}

.eclipse-offline-button-placement
{
    z-index: 9999;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
    
    transform: translateX(.25em) translateY(-.75em);
}

.eclipse-offline-button-placement-transition
{
    visibility: visible;
    opacity: 1;
}

.eclipse-minus-button-font
{
    top: 30% !important;
    font-size: xx-large;
    font-weight: 900;
}

.eclipse-section-expand
{
    height: 100vh;
    top: 0 !important;
    position: relative;
}

.eclipse-drawer-button
{
   outline: none; 
   border: none;
   
   transition-property: all;
   transition-duration: .3s;
   transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
   transition-delay: .1s;
}

.eclipse-map-menu-button
{
    display: none;
    position: absolute;
    right: 0.25em;
    top: .5em;
}

.eclipse-flat-button
{    
    background: transparent;
    box-shadow: none;
}

.eclipse-flat-button:hover
{
    background-color: transparent;
}

.eclipse-map-search-button
{
    display: none;
    position: absolute;
    right: 2.5em;
    top: -.35em;
    max-width: calc(100% - 6em);
    min-width: 50%;
    width: 400px;
    z-index: 9999;
}

.eclipse-map-search-holder
{   
    width: 100%;
    color: rgba(0,0,0,.87);
    background-color: white;
    height: 2em;
    border-radius: 2px;
    left: -2.5em;
}

.eclipse-no-show
{
     display: none;
}

.eclipse-map-search-list
{
    visibility: hidden;
    position: absolute;
    height: 1px;
    max-height: calc(100vh - 48px);
    background-color: white;
    width: 100%;
    z-index: 999;
    top: 3em;
    overflow-y: scroll;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24), inset 0 4px 6px -4px rgba(0,0,0,.24);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.eclipse-map-search-list-show
{
    visibility: visible !important;
    height: 16em !important;
    max-height: calc(100vh - 96px) !important;
}

.eclipse-map-search-input
{
    height: 100%;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;        
}

.eclipse-app-title-shift
{
    left: -1em;
}

@media only screen and (min-width: 560px) 
{
    /***
    .eclipse-map-button-placement
    {
        z-index: 9999;
        position: fixed;
        bottom: 13em;
        right: -15vw;

        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        transition-delay: .1s;
        transform: translateX(50%) translateY(50%);
    }

    .eclipse-map-button-placement-transition
    {
        right: 4em;
    }
    
    .eclipse-offline-button-placement
    {
        z-index: 9999;
        position: fixed;
        bottom: 5.2em;
        right: 4em;
        opacity: 0;
        visibility: hidden;

        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        transition-delay: .1s;

        transform: translateX(50%) translateY(50%);
    }

    .eclipse-offline-button-placement-transition
    {
        visibility: visible;
        opacity: 1;
    }
    ****/

   .eclipse-map-search-button
    {
        display: none;
        position: absolute;
        right: 3em;
        top: -.25em;
        width: 50%;
        z-index: 9999;
    }
    
    .eclipse-map-search-holder
    {   
        width: calc(90% - 2em);
        color: rgba(0,0,0,.87);
        background-color: white;
        height: 2em;
        border-radius: 2px;
        left: 0;
    }
    
    .eclipse-map-search-list
    {
        visibility: hidden;
        position: absolute;
        height: 1px;
        max-height: calc(100vh - 48px);
        background-color: white;
        width: calc(50% - 5em);
        z-index: 999;
        top: 3em;
        right: 3em;
        overflow-y: scroll;
        box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24), inset 0 4px 6px -4px rgba(0,0,0,.24);
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        transition-delay: .1s;
    }
    
    .eclipse-show-circumstances-horizontal
    {
        top: -5em !important;
        display: block !important;
        position: absolute;
        background-color: transparent;
        width: 100%;
        left: 0 !important;
        width: 30%;   
    }

    .eclipse-map-circumstances-horizontal
    {
        width: 70%;
        left: 30%;
        position: absolute;        
    }
    
}

.eclipse-disabled-text
{
    color: rgba(0, 0, 0, .45);
}

.eclipse-search-text
{
    font-size: small;
    height: 3em;
    max-height: 3em;
}

.eclipse-hide-header-text
{
    color: transparent !important;
}

.eclipse-rotate-drawer-button
{    
    transform: rotate(180deg);
}

.eclipse-map-times-zulu
{
    visibility: hidden;
    position: absolute;
    bottom: 7em;
    right: -9em;
    z-index: 999;
    
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.eclipse-map-times-zulu-trans
{
    visibility: visible !important;
    right: 1em;
}

.eclipse-map-times-local
{
    visibility: hidden;
    position: absolute;
    bottom: 7em;
    left: -9em;
    z-index: 999;
    
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.eclipse-map-times-local-trans
{
    visibility: visible !important;
    left: 1em;
}

.eclipse-animation-time-background
{
    background-color: rgba(222,222,222, 0.7);
}

.eclipse-realtime-shadow
{
    visibility: hidden;
    position: absolute;
    top: -5%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.eclipse-force-map-button
{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.eclipse-realtime-shadow-trans
{
    visibility: visible !important;
    top: 120px;
}

.eclipse-sim-info-trans
{
    visibility: visible;
    top: 1%;
}

.eclipse-main-expand
{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.eclipse-card-text-hide
{
    height: 0;
    padding: 0;
    
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.eclipse-open-line-height
{
    line-height: 1.5;
}

.eclipse-card-text-show
{
    height: 100%;
    padding: 1em;
}

.eclipse-simulation-content
{
    background: blue;
    overflow: hidden;
}

.eclipse-simulaton-content-fill
{
    height: 100%;
    width: 100%;
}

.eclipse-simulation-map-show
{
    width: 100%;
    display: block !important;
    position: absolute;
    background-color: transparent;
    top: calc(-80vh + 7em);
    left: calc(0vw - 3em);
    transform: translate(50%, 50%) scale(0.2, 0.2)
}

@media only screen and (min-width: 350px) 
{
    .eclipse-simulation-map-show
    {
        width: 100%;
        display: block !important;
        position: absolute;
        background-color: transparent;        
        top: calc(-80vh + 5em);
        left: calc(0vw - 3em);
        transform: translate(50%, 50%) scale(0.2, 0.2)
    }
}

@media only screen and (min-width: 1000px) 
{
    .eclipse-simulation-map-show
    {
        width: 100%;
        display: block !important;
        position: absolute;
        background-color: transparent;
        top: calc(-80vh - 1em);
        left: calc(0vw - 5em);
        transform: translate(50%, 50%) scale(0.2, 0.2)
    }
}

.eclipse-simulation-map-show-horizontal
{
    width: 100%;
    display: block !important;;
    position: absolute;
    background-color: transparent;
    top: calc(-80vh + 9em);
    left: calc(0vw - 1.5em);
    transform: translate(50%, 50%) scale(0.2, 0.2);
}

.eclipse-simulation-map-show-horizontal-tablet
{
    width: 100%;
    display: block !important;;
    position: absolute;
    background-color: transparent;
    top: calc(-80vh + 6em);
    left: calc(0vw - 3.5em);
    transform: translate(50%, 50%) scale(0.2, 0.2);

}

.loading-spinner
{
    top: 40vh;
    left: 50vw;
    z-index: 99;
    position: absolute;
}

.zero-height
{
    height: 0px;
}

#sun
{
    height:200px;
    width:200px;
    background-color: yellow;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    border-radius:50%;
    position: relative;
}

#moon
{
    height:200px;
    width:200px;
    background-color: black;
    border-radius:50%;
    top:0;
    left:0;
    color: #fff;
    position: relative;
    visibility: hidden;
}

.eclipse-moon-visible
{
    visibility: visible !important;    
}

.eclipse-card-background
{
    color: #fff;
    height: 10em;
    background: url('images/ec-icon-wide-cut.png') center / cover;
}

.eclipse-circumstance-page
{
    padding: 0.3em;
}

.eclipse-drawer-font
{
    font-size: 1.15em;
}

.eclipse-circumstance-content
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.eclipse-circumstance-bottom-content
{  
    overflow: hidden;
    overflow-y: auto; 
    z-index: 9999;
}

.eclipse-show-circumstances-vertical
{
    top: 25% !important;
    display: block !important;
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 0 !important;
   
}

.eclipse-show-circumstances-vertical-clean
{
    top: 40% !important;
    display: block !important;
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 0 !important;
   
}

.eclipse-show-circumstances-horizontal
{
    top: -5em !important;
    display: block !important;
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 0 !important;
    width: 50%;   
}

.eclipse-map-circumstances-horizontal
{
    width: 50%;
    left: 50%;
    position: absolute;        
}

.eclipse-show-circumstances-vertical-trans
{
    top: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: .1s;
}

.eclipse-move-eclipse-type
{
    height: .11em;
    padding: 0;
    padding-right: 1em;
    font-size: 1em;
    float: right;
    bottom: -4.75em;
    position: relative;
    z-index: 9999;
    transform: translateX(2.2em);
    
    transition-property: top, left, height, position, bottom, float;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: .1s;
}

@media only screen and (max-width: 340px) and (orientation: portrait) 
{
   .eclipse-move-eclipse-type
    {
        height: .11em;
        padding: 0;
        padding-right: 1em;
        font-size: 1em;
        float: right;
        bottom: -4.75em;
        position: relative;
        z-index: 9999;
        transform: translateX(2.85em);

        transition-property: top, left, height, position, bottom, float;
        transition-duration: 1s;
        transition-timing-function: linear;
        transition-delay: .1s;
    } 
}

@media only screen and (max-width: 700px) and (orientation: landscape) 
{
   .eclipse-move-eclipse-type
    {
        height: .11em;
        padding: 0;
        padding-right: 1em;
        font-size: 1em;
        float: right;
        bottom: -4.75em;
        position: relative;
        z-index: 9999;
        transform: translateX(2.85em);

        transition-property: top, left, height, position, bottom, float;
        transition-duration: 1s;
        transition-timing-function: linear;
        transition-delay: .1s;
    } 
}

.material-check-box-menu
{    
    top: -0.9em;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    padding-right: 1em;
}

.material-other-page-header
{
    background-color: darkcyan;
}

.material-background-color
{
    background-color: #fafafa;
}

.material-other-page
{    
    z-index: 9999;
    visibility: hidden;
    height: 0;
    width: 100vw;
    position: absolute;
    background: white;
    bottom: -100vh;
    
    transition-property: bottom, visibility;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: .1s;
}

.material-other-page-show
{
    visibility: visible;
    bottom: 0;
}

.material-about-cards
{    
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.material-drawer-icon
{    
    transform: translateY(-.1em);
    padding-right: 1em;
    color: cadetblue;
}


.about-content
{
    padding-top: 1em;
    padding-bottom: 1em;
}
